//IMPORTING VARIABLES 
@import '../../configs/styles/breakpoints'
    
.hamburguer-icon
    position: fixed
    display: none
    right: 0
    z-index: 1000
    cursor: pointer

    @media only screen and ( max-width: $breakpoint-mobile-header )
        display: block