//COLOR SETUP
$color-info-header-background: #cead97
$color-info-header-text: #6d4b35

//COMPONENT RULES
.info-header
    width: 100%
    background: $color-info-header-background

    .container
        padding: .2rem 3rem
        display: flex
        justify-content: center

        .header-text
            font-size: 120%
            color: $color-info-header-text
            margin: 0 3rem
