@import '../../configs/styles/colors'

#simple-modal-title
    color: $color-popup-title
    font-size: 150%
    padding: 1rem

.popup-subtitle-pt,
.popup-subtitle-en
    font-size: 130%
    color: $color-popup-subtitle
    
.error-popup
    background-color: $color-darker-red !important

    .copy
        border-left: 3px solid #ff806a
        color: #8c1500

        .popup-subtitle-pt,
        .popup-subtitle-en
            color: #480b00

.popup-email
    color: #ffd7d0
