//COLORS SETUP
$color-travel-background: #e8f9ec
$color-travel-border: #93e8ad
$color-travel-title: #306a3f

//COMPONENT RULES
.travel
    background: $color-travel-background

    .title
        color: $color-travel-title
        padding-top: 5rem