//COLORS SETUP
$color-travel-icon: #fab1a0
$color-travel-copy: #73c38c
$color-travel-border: #93e8ad

//COMPONENT RULES
.feature
    padding: 1rem
    text-align: center
    margin-bottom: 2rem

    .icon-wrapper
        color: $color-travel-icon;

    .icon-subtitle
        font-size: 140%
        font-weight: 600
        // color: $color-travel-subtitle
        font-weight: 300

        .icon-subtitle-en
            display: block
            font-size: 70%
            margin-top: .5rem

        &:after
            content: " "
            display: block
            margin: 1rem auto
            height: 2px
            opacity: 0.3
            width: 9rem 
            background-color: $color-travel-border

    .icon-copy
        display: inline-block
        width: 80%
        fon-size: 120%
        margin: 0 auto

    .links-list
        list-style: none

