//IMPORT VARIABLES
@import '../../configs/styles/breakpoints'

//COMPONENT RULES
.header
    position: absolute
    width: 100%
    top: 0
    display: flex
    flex-direction: column
    justify-content: center
    z-index: 999
    transition: all .2s ease-in

    //Mobile Header
    @media only screen and ( max-width: $breakpoint-mobile-header )
        position: fixed
        height: 100%

    .inner-header 
        display: inline-block
        margin: 0 auto
        padding: 2rem 0

    .main-title
        a
            position: absolute
            padding: 3rem
            font-family: 'Pinyon Script', cursive
            color: #8a6f53
            display: none
            font-size: 50%
            text-decoration: none
            left: 50%
            transform: translateX(-50%)

            &:link,
            &:visited
                padding: 0 3rem 
                font-family: 'Pinyon Script', cursive
                color: #8a6f53
                font-size: 500%
                transition: color .2s ease-in-out

            &:hover,
            &:active
                color: #cc9356
                border: none
        @media only screen and ( max-width: $breakpoint-mobile-header )
            display: block


.sticky
    position: fixed
    top: 0
    background: brown

    .inner-header
        padding: 0

//Mobile Header
@media only screen and ( max-width: $breakpoint-mobile-header )
    .header
        position: fixed
        top: 0
        background: brown

        .inner-header
            padding: 0

    .header-hidden
        display: none





