//IMPORTING VARIABLES
@import '../../configs/styles/colors'
@import '../../configs/styles/breakpoints'

.footer
    width: 100%
    background: $color-darker-green
    min-height: 10vh
    padding: 2rem

    #signature
        text-align: center    
        font-size: 150%
        color: #166439
        @media only screen and ( max-width: $breakpoint-mobile-header )
            font-size: 120% 

        #signature-link
            color: #062e18
            transition: color 0.3 ease-in-out

            &:hover
                color: #227748
        