//IMPORTING VARIABLES 
@import '../../configs/styles/breakpoints'
@import '../../configs/styles/colors'
    
//COLOR SETUP

//Greens
$color-dark-green: #00b894
$color-light-green: #55efc4

//Reds/Pinks
$color-dark-red: #ff7675
$color-light-red: #fab1a0


//----------------------------------

//COMPONENT RULES
%container-setup
    width: 100%
    min-height: 80vh
    position: relative

    @media only screen and ( max-width: $breakpoint-small-desktop )
        min-height: 50vh

    
.event-image 
    @extend  %container-setup
    display: grid
    grid-template-columns: 1fr 1fr

    .light-side
        background: $color-lighter-green
        @extend %container-setup

    .dark-side
        background: $color-darker-green
        @extend %container-setup

    .image-wrapper
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        height: 50vh
        width: 50vh
        overflow: hidden
        border-radius: 50%

        @media only screen and ( max-width: $breakpoint-small-desktop )
            width: 40vh
            height: 40vh
            

        img 
            height: 100%

.alternative

    .light-side
        background: $color-lighter-red

    .dark-side
        background: $color-darker-red

            