//====================================
// THEME COLOR VARIABLES
//====================================

//GENERAL COLOR PALLETE
$color-darker-green: #00b894
$color-general-copy-green: #03614e
$color-lighter-green: #55efc4
$color-darker-red: #ff7675
$color-lighter-red: #fab1a0
$color-body-background: #e8f9ec


//HEADER
$color-info-header-background: #cead97
$color-info-header-text: #6d4b35

$color-header-dropdown-bg: #ddad73
$color-header-dropdown-label: #473929

$color-sticky-info-header-bg: #ffb69f
$color-sticky-header-dropdown-bg: #fab1a0
$color-sticky-header-border: #ff3815

$color-mobile-header-icon-red: #772a15
$color-mobile-header-icon-green: #217238

//WELCOME
$color-welcome-background: #e8d8cd
$color-welcome-subtitle: #5b3b1a
$color-welcome-copy: #7c5840
$color-welcome-border: #ccb7aa

//SCHEDULE

//TRAVEL
$color-travel-border: #93e8ad
$color-travel-title: #306a3f

//POPUP
$color-popup-title: #0d511d
$color-popup-subtitle: #2f8948

//FORM

