//IMPORTING VARIABLES
@import '../../configs/styles/colors'
    
.general-copy
    color: $color-general-copy-green

    .general-copy-title-en
        display: block
        font-size: 90%

    .paragraph
        font-size: 160%
        line-height: 150%

    .general-copy-en
        font-style: italic
        